<section class="contentpart">
    <div class="container">
      <div class="login_wrap">
        <div class="page-content loginpage">
          <div class="header">
            <a href="#" class="mainlogo"><img src="assets/img/Logo.png" /></a>
          </div>
          <div class="pg-heading">
           <mat-label translate>Reset Password</mat-label>
          </div>

            <form [formGroup]="resetForm" (ngSubmit)="resetpassword(resetForm)">
            <mat-form-field>
              <input type="password" matInput formControlName="password" placeholder="{{'Your password' | translate}}"
               required>
                <mat-error *ngIf="resetForm.controls.password.errors && (resetForm.controls.password.dirty || resetForm.controls.password.touched)">
                    <span *ngIf="resetForm.controls.password.errors.required" translate>Password is required </span>
                    <span *ngIf="resetForm.controls.password.errors.pattern" translate>Password must contain atleast one
                      Capital letter, Digit, Symbol of 8 characters!</span>
                  </mat-error>
            </mat-form-field><br>
            <mat-form-field>
              <input type="password" matInput formControlName="confirmpassword" placeholder="{{'Your password' | translate}}"
              [ngClass]="{ 'is-invalid': submitted && resetForm.controls.confirmpassword.errors }"
              required>
                <mat-error *ngIf="resetForm.get('confirmpassword').value !== resetForm.get('password').value"
                translate>Password does not match
              </mat-error>
            </mat-form-field>
            <div class="btnrow">
                <!-- <a routerLink="/" class="link" translate>Submit</a> -->
                <button mat-raised-button color="primary" translate>Submit</button>
              </div>
          </form>
        </div>
      </div>
  
    </div>
  </section>
