<header>
  <div class="left_colum">
    <a [routerLink]="['/dashboard']" class="logo">
      <img src="assets/img/Logo.png" height="34" width="34" alt="home" />
      <!-- <svg-icon src="assets/img/Bitmap.png"></svg-icon> -->
    </a>
    <nav mat-tab-nav-bar>
      <a mat-tab-link routerLink="/dashboard" routerLinkActive="active" translate>Dashboard</a>
      <a mat-tab-link routerLink="/dashboard" routerLinkActive="active" translate>Medewerkers</a>
    </nav>
  </div>
  <div class="srch_div">
    <mat-form-field>
      <input type="text" translate matInput placeholder="{{'Search' | translate}}">
      <img src="assets/img/searchico.svg" alt="">
      <mat-select translate placeholder="{{'Search' | translate}}" panelClass="my-select-panel-class">
          <mat-option>
              <ngx-mat-select-search>
              </ngx-mat-select-search>
            </mat-option>
        <!-- <mat-option (click)="SearchProjectDialog(projectSearchDialog);"><img src="assets/img/searchProject.svg">
          {{'Search by project' | translate}}</mat-option> -->
        <mat-option (click)="SearchUserDialog(userSearchDialog);"><img src="assets/img/searchUser.svg"> {{'Search by
          User' | translate}}</mat-option>
      </mat-select>
    </mat-form-field>
    
  </div>
  <ng-template #projectSearchDialog>
    <h2 matDialogTitle>Search Project</h2>
    <mat-dialog-content class="example-full-width new_project_popup">
      <div class="inside_wrap regPage myproj">
        <div class="project-details">
          <mat-form-field>
            <mat-label translate>Enter Project Name</mat-label>
            <input type="text" translate [(ngModel)]="enterProject" matInput (keyup.enter)="CheckProjectDetails();">
          </mat-form-field>
        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button type="button" mat-raised-button style="background-color: #007AFF; color: #fff;" (click)="CheckProjectDetails();">{{'Search
        by project' | translate}}</button>
      <button type="button" mat-raised-button style="color: #007AFF;" matDialogClose>{{'Cancel' | translate}}</button>
    </mat-dialog-actions>
  </ng-template>
  <ng-template #userSearchDialog>
    <h2 matDialogTitle>Search User</h2>
    <mat-dialog-content class="example-full-width new_project_popup">
      <div class="inside_wrap regPage myproj">
        <div class="project-details">
          <mat-form-field>
            <mat-label translate>Enter Username or EmailId</mat-label>
            <input type="text" translate [(ngModel)]="enterUser" matInput (keyup.enter)="CheckUserDetails();">
          </mat-form-field>
        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button type="button" mat-raised-button style="background-color: #007AFF; color: #fff;" (click)="CheckUserDetails();">{{'Search
        by User' | translate}}</button>
      <button type="button" mat-raised-button style="color: #007AFF;" matDialogClose>{{'Cancel' | translate}}</button>
    </mat-dialog-actions>
  </ng-template>
  <div class="right_colum">
    
    <div class="usr dropdown">
       <!-- <button mat-button [routerLink]="['/my-profile']" routerLinkActive="active"> -->

        <button mat-button [routerLink]="['/']" routerLinkActive="active">
        <!-- <img class="svg" height="50%" width="50%" [src]="avatarData1" /> -->
        <img class="svg" src="assets/img/Logo.png" width="34" height="34" />
      </button>
    </div>
    <div class="languagedropdown">
      <button mat-button [matMenuTriggerFor]="menu">
        <span *ngIf="lang =='DU'">
          <img src="assets/img/duetsch.png" alt="Language Image" />
          <span> NL </span>
        </span>
        <span *ngIf="lang =='EN'">
          <img src="assets/img/english.png" alt="Language Image" />
          <span> EN </span>
        </span>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="switchLanguage('nl')">NL<img src="assets/img/duetsch.png" alt="Dutch" /></button>
        <button mat-menu-item (click)="switchLanguage('en')">EN<img src="assets/img/english.png" alt="English" /></button>
      </mat-menu>
    </div>
  </div>
</header>
<router-outlet></router-outlet>