<div class="container">
  <div class="row mt-3 mb-2 pb-2" style="border-bottom:1px solid #ccc;">
    <div class="left-header-block col pl-0">
      <h2>Page Title</h2>
      <span class="number">12345</span>
    </div>
    <div class="right-header-block col-auto pr-0">
      <label class="mr-2">Status:</label>
      <select id="status" class="form-control mr-2" style="width:auto;">
        <option selected>Open</option>
        <option>closed</option>
      </select>
      <button type="button" class="btn btn-primary">Change Status</button>
    </div>
  </div>

  <div class="row block">
    <div class="col-md-3 left-block">
      <ul>
        <li>Lorem ipsum dolor</li>
        <li>Lorem ipsum dolor</li>
        <li>Lorem ipsum dolor</li>
      </ul>
    </div>
    
    <div class="col-md-9 right-block">
      
      <div class="row block first-block">
        <div class="col-md-12">
          <h5>Lorem ipsum dolor</h5>
          <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
          <a class="a-tag" data-toggle="modal" data-target="#exampleModal"
            >Lorem ipsum</a
          >
        </div>
      </div>

      <div class="row block first-block">
        <div class="col-md-10">
          <h5>Lorem ipsum dolor</h5>
          <ul>
            <li>
              <label>Lorem</label>
              <span>Value</span>
            </li>
            <li>
              <label>Lorem</label>
              <span>Value</span>
            </li>
            <li>
              <label>Lorem</label>
              <span>Value</span>
            </li>
          </ul>
        </div>
        <div class="col-md-2">
            <a class="a-tag" data-toggle="modal" data-target="#Model2"
              >Lorem ipsum</a
            >
          </div>
      </div>

      <div class="row block first-block">
        <div class="col-md-10">
          <h5>Lorem ipsum dolor</h5>
          <div class="profile-name">
            <img class="svg" src="assets/img/Logo.png" width="34" height="34" />
            <label>Lorem ipsum</label>
          </div>
        </div>
        <div class="col-md-2">
          <a class="a-tag" data-toggle="modal" data-target="#Model2"
            >Lorem ipsum</a
          >
        </div>
      </div>

      <div class="row block  first-block">
        <div class="col-md-10">
          <h5>Lorem ipsum dolor</h5>
        </div>
        <div class="col-md-2" style="float: right;">
          <button type="button" class="btn btn-primary status-button">
            Change Status
          </button>
        </div>

        <ul>
          <li>
            <div class="profile-name">
              <img
                class="svg"
                src="assets/img/Logo.png"
                width="34"
                height="34"
              />
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Praesent condimentum sagittis dapibus. Etiam consequat, tortor
                eget vestibulum placerat, mauris tortor eleifend odio, aliquam
                lacinia nibh quam a lacus. Praesent viverra eleifend turpis vel
                convallis. Suspendisse rutrum posuere sodales.
              </p>
            </div>
          </li>
          <li>
            <div class="profile-name">
              <img
                class="svg"
                src="assets/img/Logo.png"
                width="34"
                height="34"
              />
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Praesent condimentum sagittis dapibus. Etiam consequat, tortor
                eget vestibulum placerat, mauris tortor eleifend odio, aliquam
                lacinia nibh quam a lacus. Praesent viverra eleifend turpis vel
                convallis. Suspendisse rutrum posuere sodales.
              </p>
            </div>
          </li>
          <li>
            <div class="profile-name">
              <img
                class="svg"
                src="assets/img/Logo.png"
                width="34"
                height="34"
              />
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Praesent condimentum sagittis dapibus. Etiam consequat, tortor
                eget vestibulum placerat, mauris tortor eleifend odio, aliquam
                lacinia nibh quam a lacus. Praesent viverra eleifend turpis vel
                convallis. Suspendisse rutrum posuere sodales.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- start model -->

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
      </div>
       
      <div class="modal-body">
        <label>Organisation</label>
        <select class="form-control" #org required [(ngModel)]="orgvalue">
          <option [value]="0">Please Select</option>
          <option value='{{item.id}}' *ngFor="let item of orgdata">{{item.name}}</option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" [disabled]="orgvalue==0" (click)="assignorg()">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- end model -->

<!-- start model -->

<div
  class="modal fade"
  id="Model2"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button> -->
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Example textarea</label>
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="3"
          ></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- end model -->
