.right-header-block {
    float: right;
    display: inline-flex;
}
.left-header-block {
    float: left;
}

.block{
    margin-top: 20px;
}

.first-block {
    background: #ffff;
    height: auto;
}

.left-block ul{
    list-style-type: none;
    padding-top: 20px;

}
.first-block {
    padding: 25px;
}

.a-tag {
    color: #007bff !important;
    padding-left: 10px;
    text-decoration: none;
    cursor: pointer;
}

.btn {
    background: #007bff none repeat scroll 0 0;
    border: 0 none;
    box-shadow: none;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    height: 33px;
    line-height: 13px;
    padding: 10px 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.modal-header {
    border-bottom: none !important;
}
.modal-footer {
    border-top: none !important;
}

.modal-body {
    padding-top: 3px !important;
}

.btn-secondary {
    background-color: #ccc;
}

.profile-name {
    margin-top: 20px;
}

ul{
    list-style-type: none;
    padding-left: 20px;
    
}

.status-button{
    width: 120px;
}

.profile-name p {
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 10px;
}
.first-block ul>li label{
    font-weight: bold;
    padding-right: 5px;
}