<div class="table-responsive">
    <p-dataTable id="UserListing" class="table table-bordered" [value]="datainfo" [reorderableColumns]="true" [resizableColumns]="true"
      [paginator]="true" [rows]="5" [pageLinks]="10" [rowsPerPageOptions]="[5,10,20]" [style]="{'width':'100%','overflow':'auto!important','top': 'auto'}"
      (onRowClick)="rowClick($event)" [rowHover]="true" 
      >

      <p-column field="first_name" header="{{'First Name' | translate}}" [sortable]="true" [filter]="true" filterPlaceholder="Search">
      </p-column>
      
      <p-column field="last_name" header="{{'Last Name' | translate}}" [sortable]="true" [filter]="true" filterPlaceholder="Search">
      </p-column>
      
      <p-column field="avatar" header="{{'avatar' | translate}}" [sortable]="true" [filter]="true" filterPlaceholder="Search">
          <ng-template let-user="rowData" pTemplate="body">
                <img src="{{user.avatar}}" height=100 width=100 alt=""/> 
            </ng-template>
      </p-column>
     
     
      <p-column header="{{'ACTIONS' | translate}}" [style]="{'width': '70px'}">
        <ng-template let-user="rowData" pTemplate="body">
          <a class="material-icons" type="button" data-toggle="modal" data-target="#CreateNewUserModal" (click)="openUserFormToUpdate(user)">visibility</a>
          <a class="material-icons" type="button" id="{{ user.id }}" data-toggle="modal" data-target="#deleteUserConfirm" (click)="SelectedUserIdToDelete = user.id">delete</a>
        </ng-template>
      </p-column>
    </p-dataTable>
  </div>

   <!-- Delete confirm modal for user -->
   <div class="delete-role-confirm modal fade create_project" id="deleteUserConfirm">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" translate>Confirm?</h4>
          </div>
          <div class="modal-body">
            <div class="form-wrap">
              <div class="row">
                <div class="col-12">
                  <p translate>Are you sure you want to delete this user?</p>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-12">
                  <button type="button" class="btn btn-primary small float-left" (click)="deleteUserById(SelectedUserIdToDelete)" translate>Delete</button>
                  <button type="button" class="btn btn-primary small float-left ml-2" #closeUserConfirmModal data-dismiss="modal" translate>Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>