<section class="contentpart">
  <div class="container">
    <div class="login-logo">
      <a href="#" class="mainlogo"><img alt="logo" src="assets/img/Logo.png" /></a>
    </div>
    <div class="login_wrap">
      <div class="page-content loginpage">
        <div class="pg-heading">
          <label translate>Inloggen</label>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm)">
          <div class="form-group">
            <input type="email" class="form-control" formControlName="email" placeholder="{{ 'Your email address' | translate }}"
              required />
            <div *ngIf="email.errors && (email.dirty || email.touched)">
              <span *ngIf='email.errors.required' translate>Email is required
              </span>
              <span *ngIf="email.errors.pattern" translate>Email is invalid
              </span>
            </div>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" formControlName="password" placeholder="{{ 'Your password' | translate }}"
              required />
            <div *ngIf="password.errors && (password.dirty || password.touched)">
              <span *ngIf="password.errors.required" translate>Password is required</span>
            </div>
          </div>
          <div class="watch_forgot">
            <a routerLink="/forgot-password" translate>Forgot your password?</a>
          </div>
          <div class="btnrow">
            <a routerLink="/register" class="link" translate>Create</a>
            <button class="btn-primary" translate>Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>