<section class="contentpart">
  <div class="container">
    <div class="login-logo">
      <a href="#" class="mainlogo"><img src="assets/img/Logo.png" /></a>
    </div>
    <div class="login_wrap">
      <div class="page-content loginpage">
        <div class="pg-heading">
          <mat-label translate>Inloggen</mat-label>
        </div>

        <form  class="needs-validation" novalidate [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm)">
          
          <div class="form-group">
            <label for="email">E-mailadres</label>
            <input type="email" class="form-control form-control-lg" formControlName="email" placeholder="E-mailadres"
              required>
            <div class="invalid-feedback" *ngIf="email.errors && (email.dirty || email.touched)">
              <span *ngIf="email.errors.required" translate>Email is required </span>
              <span *ngIf="email.errors.pattern" translate>Email is invalid </span>
            </div>
          </div>
          
          <div class="form-group">
            <label for="password">Wachtwoord</label>
            <input type="password" class="form-control form-control-lg" formControlName="password" placeholder="Wachtwoord"
              required>
            <div class="invalid-feedback" *ngIf="password.errors && (password.dirty || password.touched)">
              <span *ngIf="password.errors.required" translate>Password is required</span>
            </div>
          </div>

          <div class="watch_forgot">
            <a routerLink="/forgot-password" translate>Forgot your password?</a>
          </div>
          <div class="btnrow">
            <a routerLink="/register" class="link" translate>Create</a>
            <button mat-raised-button color="primary" translate>Login</button>
          </div>
        </form>
      </div>
    </div>

  </div>
</section>
