<section class="contentpart">
  <div class="container">
    <div class="login_wrap">
      <div class="page-content loginpage">
        <div class="pg-heading">
          <mat-label translate>Material Form</mat-label>
        </div>

        <form (ngSubmit)="loginUser(loginForm)">
          <div class="col-md-12"> 
            <mat-label>Autocomplete</mat-label>
            <input type="text" placeholder="Assignee" aria-label="Assignee" matInput [formControl]="myControl"
              [matAutocomplete]="auto" required>
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option.name}}
              </mat-option>
            </mat-autocomplete>
            <span *ngIf="myControl.errors.required" translate>Autocomplete is required </span>
          </div>
          <div class="col-md-12">
            <mat-label>Checkbox</mat-label>
            <mat-checkbox>Choice1</mat-checkbox>
            <mat-checkbox>Choice2</mat-checkbox>
            <mat-checkbox>Choice3</mat-checkbox>
            <mat-checkbox>Choice4</mat-checkbox>
          </div>
          <div class="col-md-12">
            <mat-form-field>
              <input matInput [matDatepicker]="dp3" placeholder="Input disabled" disabled>
              <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
              <mat-datepicker #dp3 disabled="false"></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-form-field>
              <input matInput placeholder="Input">
            </mat-form-field>

            <mat-form-field>
              <textarea matInput placeholder="Textarea"></textarea>
            </mat-form-field>

            <mat-form-field>
              <mat-select placeholder="Select">
                <mat-option value="option">Option</mat-option>
                <mat-option value="option1">Option1</mat-option>
                <mat-option value="option2">Option2</mat-option>
              </mat-select>
            </mat-form-field>

          </div>
          <div class="col-md-12">
            <mat-form-field>
              <input matInput placeholder="Enter your email" [formControl]="email" required>
              <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-label>Password</mat-label>
            <mat-form-field>
              <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>

            <mat-label>Prefix sufix</mat-label>
            <mat-form-field>
              <input matInput placeholder="Amount" type="number" class="example-right-align">
              <span matPrefix>$&nbsp;</span>
              <span matSuffix>.00</span>
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-label>Radio button</mat-label>
            <mat-radio-group>
              <mat-radio-button value="1">Option 1</mat-radio-button>
              <mat-radio-button value="2">Option 2</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="col-md-12">
            <mat-label>Select with option groups</mat-label>
            <mat-form-field>
              <mat-select placeholder="Pokemon" [formControl]="pokemonControl">
                <mat-option>-- None --</mat-option>
                <mat-optgroup *ngFor="let group of pokemonGroups" [label]="group.name" [disabled]="group.disabled">
                  <mat-option *ngFor="let pokemon of group.pokemon" [value]="pokemon.value">
                    {{pokemon.viewValue}}
                  </mat-option>
                </mat-optgroup>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-label>Select with custom trigger text</mat-label>
            <mat-form-field>
              <mat-select placeholder="Toppings" [formControl]="toppings" multiple>
                <mat-select-trigger>
                  {{toppings.value ? toppings.value[0] : ''}}
                  <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
                    (+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
                  </span>
                </mat-select-trigger>
                <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-label>Slider</mat-label>
            <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1000" min="1" max="100000"></mat-slider>
          </div>
          <div class="col-md-12">
            <mat-label>Basic slide-toggles</mat-label>
            <mat-slide-toggle>Slide me!</mat-slide-toggle>
          </div>
          <!-- <mat-form-field>
            <input type="email" matInput formControlName="email" placeholder="{{'Your email address' | translate}}"
              required>
            <mat-error *ngIf="email.errors && (email.dirty || email.touched)">
              <span *ngIf="email.errors.required" translate>Email is required </span>
              <span *ngIf="email.errors.pattern" translate>Email is invalid </span>
            </mat-error>
          </mat-form-field><br>
          <mat-form-field>
            <input type="password" matInput formControlName="password" placeholder="{{'Your password' | translate}}"
              required>
            <mat-error *ngIf="password.errors && (password.dirty || password.touched)">
              <span *ngIf="password.errors.required" translate>Password is required</span>
            </mat-error>
          </mat-form-field>
          <div class="btnrow">
            <a routerLink="/register" class="link" translate>Create</a>
            <button mat-raised-button color="primary" translate>Login</button>
          </div> -->
        </form>
      </div>
    </div>

  </div>
</section>