<div class="table-responsive">
    <p-dataTable id="UserListing" class="table table-bordered" [value]="datainfo" [reorderableColumns]="true" [resizableColumns]="true"
      [paginator]="true" [rows]="5" [pageLinks]="10" [rowsPerPageOptions]="[5,10,20]" [style]="{'width':'100%','overflow':'auto!important','top': 'auto'}">

      <p-column field="first_name" header="{{'First Name' | translate}}" [sortable]="true" [filter]="true" filterPlaceholder="Search">
      </p-column>
      
      <p-column field="last_name" header="{{'Last Name' | translate}}" [sortable]="true" [filter]="true" filterPlaceholder="Search">
      </p-column>
      
      <p-column field="avatar" header="{{'avatar' | translate}}" [sortable]="true" [filter]="true" filterPlaceholder="Search">
          <ng-template let-user="rowData" pTemplate="body">
                <img src="{{user.avatar}}" height=100 width=100 alt=""/> 
            </ng-template>
      </p-column>
     
     
      <p-column header="{{'ACTIONS' | translate}}" [style]="{'width': '70px'}">
        <ng-template let-user="rowData" pTemplate="body">
          <a class="material-icons" type="button" data-toggle="modal" data-target="#CreateNewUserModal" (click)="openUserFormToUpdate(user)">edit</a>
          <a class="material-icons" type="button" id="{{ user._id }}" data-toggle="modal" data-target="#deleteUserConfirm" (click)="SelectedUserIdToDelete = user._id">delete</a>
        </ng-template>
      </p-column>
    </p-dataTable>
  </div>