.userDialog {
    background-color: #de6d2c;
}

.userLastname {
    position: absolute;
    left: 380px;
    top: -25px;
}

label {
    color: #8b8b8b;
}

label.lastname {
    float: right;
    margin-top: -49px;
    margin-right: -113px;
}

img.updatenotificationimg.avatar-adjust {
    margin-top: -160px;
    margin-left: 380px;
}