<section class="contentpart">
  <div class="container">
    <div class="login_wrap">
      <div class="page-content loginpage">
        <div class="header">
          <a href="#" class="mainlogo"><img src="assets/img/Logo.png" /></a>
        </div>
        <div class="pg-heading">
          <mat-label translate>Forgot password<p translate>Enter your username or email address and keep an eye on your
              email inbox. We will send you the recovery code to your email address.</p>
          </mat-label>
        </div>

        <form [formGroup]="forgotPasswordForm" (ngSubmit)="submitForgotPasswordForm(forgotPasswordForm)">
          <mat-form-field>
            <input type="email" matInput formControlName="email" [ngClass]="{ 'is-invalid': submitted && forgotPasswordForm.controls.email.errors }"
              placeholder="{{'Enter your email address' | translate}}" required>
            <mat-error *ngIf="forgotPasswordForm.controls.email.errors && (forgotPasswordForm.controls.email.dirty || forgotPasswordForm.controls.email.touched)">
              <span *ngIf="forgotPasswordForm.controls.email.errors.required" translate>Email is required </span>
              <span *ngIf="forgotPasswordForm.controls.email.errors.pattern" translate>Email is invalid </span>
            </mat-error>
          </mat-form-field><br>
          <div class="btnrow">
            <a routerLink="/" class="link" translate>Inloggen</a>
            <button mat-raised-button color="primary">Verstuur code</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>