<div class="account_profile only_dashboard">
  <div class="pagebar">
    <div class="page_name" translate>Dashboard</div>
  </div>
  <div class="my_account_content ">
    <div class="my_project">
      <div class="project_navbar">
        <div class="content-search">
          <div class="search_pro">
            <mat-form-field *ngIf="searchFlag">
              <input matInput (keyup)="filterProjectList($event.target.value)" placeholder="{{'Search project' | translate}}">
            </mat-form-field>
            <button mat-raised-button color="primary" class="float-right" style="margin-top: -5px;" >
              <img src="assets/img/pluse1.png" />New User
            </button>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>

      <div class="prfl_tbl_1 memb-list">
       
      

      </div>
    </div>
  </div>
</div>
