<section class="contentpart">
  <div class="container">
    <div class="login_wrap">
      <div class="page-content loginpage">
        <div class="header">
          <a href="#" class="mainlogo"
            ><img alt="logo" src="assets/img/Logo.png"
          /></a>
        </div>
        <div class="pg-heading">
          <mat-label translate>Create an account</mat-label>
        </div>

        <form
          [formGroup]="registerForm"
          (ngSubmit)="registerUser(registerForm)"
          novalidate
        >
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              formControlName="firstName"
              placeholder="{{ 'Your first name' | translate }}"
              [ngClass]="{
                'is-invalid': submitted && firstName.errors
              }"
              required
            />
            <div
              *ngIf="firstName.errors && (firstName.dirty || firstName.touched)"
            >
              <span *ngIf="firstName.errors.required" translate
                >First Name is required
              </span>
              <span *ngIf="firstName.errors.pattern" translate
                >Only alphabets are allowed</span
              >
            </div>
          </div>
          <br />

          <div class="form-group">
            <input
              type="text"
              class="form-control"
              formControlName="lastName"
              placeholder="{{ 'Your surname' | translate }}"
              [ngClass]="{
                'is-invalid': submitted && lastName.errors
              }"
              required
            />
            <div
              *ngIf="lastName.errors && (lastName.dirty || lastName.touched)"
            >
              <span *ngIf="lastName.errors.required" translate
                >Last name is required
              </span>
              <span *ngIf="lastName.errors.pattern" translate
                >Only alphabets are allowed</span
              >
            </div>
          </div>
          <br />
          
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              formControlName="email"
              placeholder="{{ 'Your email address' | translate }}"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
              [ngClass]="{
                'is-invalid': submitted && email.errors
              }"
              required
            />
            <div *ngIf="email.errors && (email.dirty || email.touched)">
              <span *ngIf="email.errors.required" translate
                >Email is required
              </span>
              <span *ngIf="email.errors.pattern" translate
                >Please enter a valid email id</span
              >
            </div>
          </div>
          <br />

          <div class="form-group">
            <input
              type="password"
              class="form-control"
              formControlName="password"
              placeholder="{{ 'Choose your password' | translate }}"
              [ngClass]="{
                'is-invalid': submitted && password.errors
              }"
              required
            />
            <div
              *ngIf="password.errors && (password.dirty || password.touched)"
            >
              <span *ngIf="password.errors.required" translate
                >Password is required
              </span>
              <span *ngIf="password.errors.pattern" translate
                >Password must contain atleast one Capital letter, Digit, Symbol
                of 8 characters!</span
              >
            </div>
          </div>
          <br />

          <div class="form-group">
            <input
              type="password"
              class="form-control"
              formControlName="repeatpassword"
              placeholder="{{ 'Repeat your password' | translate }}"
              [ngClass]="{
                'is-invalid': submitted && repeatpassword.errors
              }"
              required
            />
            <div *ngIf="registerForm.get('repeatpassword').errors && registerForm.get('repeatpassword').errors.ConfirmPassword">
              Passsword and ConfirmPassword didn't match.
            </div>
          </div>

          <div class="btnrow">
            <a routerLink="/" class="link" translate>Login</a>
            <button
              mat-raised-button
              color="primary"
            
              translate
            >
              Create
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
